<div class="row pt-2">
    <div class="col-md">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="input-group">
                        <input type="text" #txtToDoInput [value]="newToDo" class="form-control" placeholder="Agregar tarea nueva">
                        <button (click)="addToDo(txtToDoInput.value)" class="btn btn-outline-success" type="button">+ Agregar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>