<div class="container">
    <div class="row pt-5 justify-content-center">
        <div class="col-md-4 pt-5 vh-50">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Test #1</h5>
                    <p>
                        Dados dos parametros de entrada:
                        <br><br>
                        - parametro 1: Latitud<br>
                        - parametro 2: Longitud
                        <br><br>
                        Recuperar el pronóstico de clima de dicha locación por las siguientes seis horas mostrando el resultado por hora
                        Como referencia, se pueden usar los API de https://openweathermap.org/ o algún otro que otorgue dicha información.
                        En caso de presentarse alguna excepción que impida mostrar la información, deberá mostrarse un mensaje de error lo más
                        descriptivo posible (Service not found, Timeout, etc).
                    </p>
                </div>
                <div class="card-footer">
                    <div class="d-grid">
                        <a href="test-1" class="btn btn-sm btn-primary">Ir a Test #1</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 pt-5 vh-50">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Test #2</h5>
                    <p>
                        Dados dos parámetros de entrada:
                        <br><br>
                        - parametro 1: fecha inicio <br>
                        - parametro 2: fecha fin
                        <br><br>
                        El programa debe regresar la cantidad de dias en el que el dia “Domingo” es el último día del mes en ese lapso.                        
                        <br>
                        La salida debe ser el número de días
                    </p>
                </div>
                <div class="card-footer">
                    <div class="d-grid">
                        <a href="test-2" class="btn btn-sm btn-primary">Ir a Test #2</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 pt-5 vh-50">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Test #3</h5>
                    <p>
                        Dados dos parámetros de entrada:
                        <br><br>
                        - parametro 1: año inicio <br>
                        - parametro 2: ano fin
                        <br><br>
                        El programa debe regresar un arreglo con los años que fueron bisiestos La salida debe ser una cadena con los años
                        separados por el caracter “@”
                    </p>
                </div>
                <div class="card-footer">
                    <div class="d-grid">
                        <a href="test-3" class="btn btn-sm btn-primary">Ir a Test #3</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 pt-5 vh-50">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Test #4</h5>
                    <p>
                        Dados los parámetros de entrada:
                        <br><br>
                        n (int) = tamaño de la matriz(nxn)
                        <br><br>
                        rotaciones[int] = un arreglo que contenga una sucesión de rotaciones representadas por números, los números positivos
                        son rotaciones a la derecha y los números negativos son rotaciones a la izquierda (0 representa ningún movimiento).
                        coordenada [x, y] = La coordenada del número de la salida.
                        <br>
                        Se genera una matriz “n”x”n” y se llena con números comenzando por el 1 en la celda 0,0 y aumentando en 1
                        consecuentemente en cada celda de la matriz, aplicar las rotaciones necesarias y posterior a la rotaciones a la matriz y
                        dada la coordenada[x,y] se tiene que regresar el número de esa celda.
                        <br>
                        La salida será el número contenido en la coordenada indicada.
                    </p>
                </div>
                <div class="card-footer">
                    <div class="d-grid">
                        <a href="test-4" class="btn btn-sm btn-primary">Ir a Test #4</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-4 pt-5">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Test #5</h5>
                    <p>
                        Dado los parámetros de entrada:
                        <br><br>
                        s (String) = Un texto de n caracteres (Lorem ipmsum…)
                        <br><br>
                        Obtener el número de veces que se repite cada letra de la cadena.
                        <br>
                        La salida será una lista indicando el carácter con el número de veces encontrada en la cadena (a = 15, b = 6, c …)
                    </p>
                </div>
                <div class="card-footer">
                    <div class="d-grid">
                        <a href="test-5" class="btn btn-sm btn-primary">Ir a Test #5</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-5"></div>
    </div>
</div>
