<div class="container">
    <div class="row pt-5">
        <div class="col-md">
            <div class="card">
                <div class="card-body">
                    <h1>Test #3: Años Bisiestos</h1>
                    <hr>
                    <form [formGroup]="form">
                        <div class="input-group">
                            <span class="input-group-text"><b>Fecha inicio:</b></span>
                            <input type="date" formControlName="start" class="form-control" />
                            <span class="input-group-text"><b>Fecha fin:</b></span>
                            <input type="date" formControlName="end" class="form-control" />
                        </div>
                        <br>
                        <div class="d-grid">
                            <button (click)="getLeapYears()" type="button" class="btn btn-primary">Consultar</button>
                        </div>
                    </form>

                    <div *ngIf="leapYears.length > 0">
                        <hr>
                        <h2>Años bisiestos: {{ leapYears.join('@') }}</h2>
                    </div>

                    <div *ngIf="!leapYears && isSubmitted">
                        <hr>
                        <div class="alert alert-danger">
                            <h2>¡Atención!</h2>
                            <p>No hay años bisiestos en el rango de fechas...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>